*{padding: 0;margin: 0;}
ul li{list-style: none;}
a{text-decoration: none;}
.box{width: 620px;
    margin: 50px auto;
    position: relative;
}
.pic-left{
    width: 264px;
    height: 162px;
    float: left;
}
#featured-area{
    height:140px;
    width:264px;
    margin:0 auto;
    position:relative;
}
.roundabout-holder{list-style:none;width:264px;height:140px;margin:0px auto;}
.roundabout-moveable-item{height:140px;width:105px;cursor:pointer;}
.roundabout-moveable-item img{height:100%;width:100%;margin:0;}
.roundabout-in-focus{cursor:auto;}
.roundabout-holder span{display:none;}
.roundabout-in-focus:hover span{display:inline;position:absolute;bottom:5px;right:5px;padding:8px 20px;background:#f9f9f9;color:#3366cc;z-index:999;}
.roundabout a:active, .roundabout a:focus, .roundabout a:visited{outline:none;text-decoration:none;}
.roundabout li{margin:0}
#featured-area .ban_l_btn,#featured-area .ban_r_btn{ position: absolute; top: 50%;margin-top:-16px; left:-10px; display: block; width: 18px; height: 40px; background: #a0a0a0 url(../images/arrow-left.png) no-repeat center center; z-index: 200; overflow: hidden; }
#featured-area .ban_r_btn{left:auto; right:-6px; background: #a0a0a0 url(../images/arrow-right.png) no-repeat  center center;}
#featured-area ul li div{width:100%;height: 100%;}

.arearight {
    position: absolute;
    width: 324px;
    height: 162px;
    top: 0;
    right: 0;
}
.arearight-warp ul li {
    display: none;
}
.arearight-warp ul li a {
    display: inline-block;
}
.arearight-warp ul li a p.warp-title {
    font-size:18px;
    color:#333;
    line-height: 20px;
    width: 324px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.arearight-warp ul li a p.warp-author {
    margin: 10px 0 10px;
    font-size:12px;
    color:#666;
    line-height:14px;
}
.arearight-warp ul li a p.warp-content {
    font-size:12px;
    color:#999;
    line-height:18px;
    margin-bottom: 20px;
}
.arearight-warp ul li a.warp-detail {
    border:1px solid #820f28;
    border-radius:25px;
    width:138px;
    height:34px;
    line-height: 34px;
    text-align: center;
    font-size:14px;
    color:#820f28;
}
.arearight-warp ul li a.warp-detail:hover{
    background:#820f28;
    width:140px;
    height:36px;
    color: #fff;
}